$sm-transition: 300ms ease-in-out;
$sm-default-link-color: #333;
$sm-header-link-color: #fff;
$sm-complementary-background-color: #FF4800;
$sm-submenu-padding: 1rem 2rem;
$sm-submenu-padding_x: 2rem;
$sm-submenu-padding_y: 1rem;

%full-width {
    width: 100%;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.slide-menu {
    position: fixed;
    top: 0;
    left: 0;
    
    @extend %full-width;

    height: 100vh;
    display: none;

    overflow-y: scroll;
    overflow-x: hidden;
    background: #fff;
    transition: transform $sm-transition;
    will-change: transform;
    z-index: 1000;

    &.collapse.in {
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .controls {

        @extend %full-width;

        z-index: 1001;

        background: $sm-complementary-background-color;

        .col-xs-4 {
            padding: 0;
        }

        .slide-menu-control {
            background: $sm-complementary-background-color;

            padding: $sm-submenu-padding;
            border: none;

            &, & > a {
                color: $sm-header-link-color;
            }

            &:focus {
                outline: 0;
                background-color: #FF5615;
            }
        }

        button.slide-menu-control {
            font-size: 1.7rem;
            line-height: 1rem;
        }
    }

    .facets-title {
        padding: $sm-submenu-padding;
        background: $sm-complementary-background-color;
        margin: 0;
        text-align: center;
        color: $sm-header-link-color;
        font-size: 1rem;
    }

    .custom-checkbox > span.custom-control-indicator {
        border: 0;
    }

    .filters-wrapper {
        height: 100%;
            overflow-x: hidden;

        #filters {
            position: relative;
            height: 100%;
        }
    }

    .filters-footer {
        padding: $sm-submenu-padding;

        button {
            display: block;
            @extend %full-width;
            background-color: $sm-complementary-background-color;
            border-radius: 6px;
        }
    }

    ul {
        @include list-unstyled;

        @extend %full-width;

        margin: 0;

        li.slide-facet {
            border-bottom: 1px solid #ccc;
            padding: 0 $sm-submenu-padding_x;

            > a {
                display: block;
                padding: $sm-submenu-padding_y 0;
            }
        }

        a, span {
            color: $sm-default-link-color;
            text-decoration: none;
        }
    }

    &.no-transition, &.no-transition * {
        transition: none !important;
    }
}

#products-filter {
    .card {
        border-bottom: 3px solid $sm-complementary-background-color;
        border-radius: 5px;
        color: #333;
        box-shadow: none;

        > img.card-img-top {
            width: 100%;
            margin: 0;
        }

        > .card-body {
            padding: $sm-submenu-padding;

            > a.btn {
                display: block;
                background-color: $sm-complementary-background-color;
                border-radius: 6px;
                color: #fff;
            }
        }
    }
}

#js-product-list-top {
    font-size: .75rem;
    padding: 0;

    .select-title {
        width: auto;
        border: 0;
        box-shadow: none;
        padding: 0;
    }

    > * {
        padding: .5rem 1rem;
        background: #fff;
        border: 0;
        display: inline-block;
        border-left: 1px solid #aaa;
        box-shadow:  none;

        &:first-child {
            border-left: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.form-control-range {
  -webkit-appearance: none;
  position: relative;
  margin: .5rem 0;
}

.form-control-range::-webkit-slider-runnable-track {
  width: 100%;
  height: .2rem;
  border: none;
  border-radius: 3px;
  background-color: #777;
}

.form-control-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: .8rem;
  width: .8rem;
  border-radius: 50%;
  background: $sm-complementary-background-color;
  border: 2px solid $sm-complementary-background-color;
  margin-top: -.35rem;
  cursor: pointer
}
.custom-control-input:active~.custom-control-indicator,
.custom-control-input:checked~.custom-control-indicator {
    background-color: $sm-complementary-background-color;
}

#header {

    padding-bottom: .625rem;
}

.material-icons {
    color: $sm-complementary-background-color;
}